<component name="footer">
  <footer>
    <div class="container">
      <div class="row">
        <figure class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <img src="images/beaverLogo2.svg" alt="">
        </figure>
      </div>
       <div class="row">
        <ul class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12  col-xs-12  text-center socialIcons">
          <li><a href="https://www.facebook.com/BeaversTail/"><span class="fa fa-facebook-square"></span></a></li>
          <li><a href="https://www.instagram.com/beavers_tail/"><span class="fa fa-instagram"></span></a></li>
          <li><a href="https://twitter.com/beavers_tail"><span class="fa fa-twitter"></span></a></li>
          <li><a href="http://lovebeaverstail.tumblr.com/"><span class="fa fa-tumblr"></span></a></li>
        </ul>
      </div>
      <div class="row">
        <ul class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12  col-xs-12  text-center">
          <li><a href="/terms">Terms and Conditions</a></li>
          <li><span class="lineBreak">|</span><a href="/privacypolicy"> Privacy Policy</a></li>
        </ul>
      </div>
      <div class="row text-center">
        <span> Beaver’s Tail © 2017 </span>
      <!-- <span class="alyoop col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Designed by <a href="http://www.alyoop.com.au" target="_blank"><img src="images/alyoop.svg" alt=""></a></span> -->
      </div>
    </div>
  </footer>
</component>
